











/****************************************************ICON AREA*********************************************/
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;    
}




.horizontal {
    width: 100%;
    height: auto;
    display: grid;
    grid-row-gap: 0px;
    justify-content: center;
    grid-template-rows: auto auto auto;
    -webkit-box-align: start;
    
    align-items: start;
    
    align-content: start;
    grid-template-columns: auto;
    grid-template-areas: "HEADER"
                         "MAIN"
                         "FOOTER";
}



.center-holder {
    width: 100vw;
    height: auto;
    display: flex; 
    align-items: center;
    justify-content: center;       
}
/****************************************************BODY*********************************************/











/****************************************************HEADER CLOCK*******************************************/
#HEADER {
    grid-area: HEADER;
}



#CONTAINER-TOP {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto;
    background-color: #efefef;
    grid-template-areas: ". . ."
        ". CLOCK ."
        ". . .";
}




#CLOCK-HOLDER {
    grid-area: CLOCK;
}
/****************************************************HEADER CLOCK*******************************************/






























/****************************************************MAIN-APP-AREA*********************************************/
#MAIN {
    grid-area: MAIN;

}



#CONTAINER-MAIN-DATABASE {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;
    background-color: #2e2e2e;
}



#APP-AREA {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 60px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows:  auto auto;
    grid-template-areas: ". . ."
                         ". DATABASE-APP ."
                         ". . .";
}


#THE-APP {
    grid-area: DATABASE-APP;
    display: grid;
    width: 100%;
    height: auto;
    padding-bottom: 200px; 
    grid-row-gap: 60px;
    grid-column-gap: 60px;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 
                         "TITLE TITLE"
                         "IMAGE TEXT"
}






.CARD {
    grid-area: IMAGE;
    display: grid;
    width: 100%;
    height: 100%;
    max-height: 0;
    grid-row-gap: 60px;
    grid-template-rows: 1fr 4fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas:
                    "TITLE"
                    "IMAGE"
                    "ICON"
}




#CARD-HOLDER {
    grid-area: IMAGE;
    position: relative;
    width: 100%;
    height: 560px ;
}



#TITLE-HOLDER {
    grid-area: TITLE;
    width: 100%;
    height: 100%;
}


.video-card {
    position: absolute;
    grid-area: IMAGE;
    display: grid;
    width: 250px;
    height: 350px;     
    background-repeat: no-repeat;   
    box-shadow: #2e2e2e;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border-style: solid;
    border-width: 2.5px;
    border-color: #efefef;
    transition: 1s;
}





#TRT {
    background-image: url(assets/images/the-royal-tenenbaums.JPG);
    transform: translateZ(150px);
}

#TRT:hover {
    transform: scale(1.1);
}


#FMF {
    background-image: url(assets/images/fantastic-mr-fox.JPG); 
    transform: translateX(50px) translateY(50px) translateZ(100px);      
}

#FMF:hover {
    transform: scale(1.1) translateZ(1000px);
}

#TDL {
    background-image: url(assets/images/the-darjeeling-limited.JPG);
    transform: translateX(100px) translateY(100px) translateZ(50px);
}

#TDL:hover {
    transform: scale(1.1);
}

#TGBH {
    background-image: url(assets/images/grand-budapest-hotel.JPG);
    transform: translateX(150px) translateY(150px);   
}

#TGBH:hover {
    transform: scale(1.1);
}



#TEXT {
    grid-area: TEXT;
    max-height: 0;

}


#DATA {
    grid-area: IMAGE;
    display: grid;
    width: 100%;
    height: auto; 
    max-height:min-content; 
    grid-row-gap: 20px;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "PLOT"
        "RATING"
        "YEAR"
        "CAST"
        "RUNTIME"
}

.data-type{
    width: 100%;
    height: auto;
}


#PLOT-HOLDER {
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;


}


#RATING-HOLDER {
    display: grid;
    width: 100%;
    height: auto;
    grid-column-gap: 60px;
    grid-template-columns: 1fr 1fr;
}


#YEAR-HOLDER {
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
   

}


#CAST-HOLDER{
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;

}



#RUNTIME-HOLDER {
    display: grid;
    width: 100%;
    height: auto;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    
}


/****************************************************MAIN-APP-AREA*********************************************/







































/****************************************************FOOTER*************************************************/
#FOOTER {
    grid-area: FOOTER;
}





#CONTAINER-BOTTOM {
    display: flex;
    width: 100%;
    background-color: #2e2e2e;
    justify-content: center;
}




#FOOTER-HOLDER {
    width: 100vw;
    height: auto;
    display: grid;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;

    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: auto auto auto auto;
    background-color: #efefef;
    grid-template-areas: ". . ."
        ". TEXT ."
        ". IMAGE ."
}

















#FOOTER-TEXT {
    grid-area: TEXT;
}


#FOOTER-IMAGE {
    display: flex;
    grid-area: IMAGE;
    justify-content: right;
}
/****************************************************FOOTER*************************************************/

















/******************************FONTS************************************************************************/
h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #efefef;
}

#CLOCK {
    font-family: sofia-pro, sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    color: #2e2e2e;
    text-align: left;
}


#DATE {
    font-family: sofia-pro, sans-serif;
    padding-top: 0px;
    padding-bottom: 30px;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    color: #2e2e2e;
    text-align: left;
}

h2 {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #efefef;
    padding-top: 0px;
    padding-bottom: 0px;
}


#FT {
    font-family: sofia-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #2e2e2e;
}


p {
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #efefef;
    padding-top: 0px;
    padding-bottom: 0px;
}



span {
    font-family: sofia-pro, sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 50px;
    font-size: 4rem;
    color: #efefef;
}
/******************************FONTS************************************************************************/










